<!doctype html>
<html lang = "en-us">
	<head>
		<title>Fracture Detection</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">S Cube</a>
    </div>
	
	<ul class="navbar navbar-nav ml-auto" style="padding-right: 750px;">
    <ul class="nav navbar-nav">
	<li class="active">
	<a href="#">Home<span class="sr-only">(current)</a>
	</li>
      
	<li class="nav-item mx-4">
        <a class="nav-link" href="#">About Us</a>
        </li> 
	 
	 <li class="nav-item mx-3">
        <a class="nav-link" href="#">Contact Us</a>
        </li> 
	 
	 <li class="nav-item mx-3">
        <a class="nav-link" href="#">Our Team</a>
        </li> 
	 
	 <li class="nav-item mx-3">
        <a class="nav-link" href="#"></a>
        </li>
		
    </ul>
	<button class="btn btn-danger navbar-btn" style="padding-right:">Login</button>
  </div>
</nav>

